@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
    
    .our_futures
        p
            white-space: normal


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    
     footer
        .map
            margin-top: 20px
        .footer_li
            margin: 0
            letter-spacing: 0.5px
            line-height: 35px
            top: 20%
        img
            height: 50px
     .our_futures
        p
            white-space: normal
     .call_form
        &::before
            width: 100%
            z-index: 10
        .form_header
            span
                font-size: 22px
     .main_form
        z-index: 89
        position: relative
     .header_contact
        text-align: left
        padding: 0
        white-space: nowrap
        margin: 0
        font-size: 16px
        .tacl
            text-align: center
     .wrap_service
        .h4_ser
            padding: 10px
        .wrap_services_img
            height: 300px
            b
                left: 17%
                bottom: 145px
     .top_header
        .flex_header
            .flex_box
                a
                    margin-top: 30px
                .window_h1
                    h1
                        font-size: 30px
                        letter-spacing: 1px
                        padding-top: 5px
                        margin-top: 0
                        padding-bottom: 10px
                        font-weight: 700
                       
                strong
                    font-size: 18px
                .header_p
                    font-size: 16px
                    line-height: 20px
                    letter-spacing: 1px
                    margin-top: 30px
    
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    body
        line-height: 1.4
    .top_line
        .logo
            width: 80%
            left: 0
            top: 15px
            text-align: center
            margin-right: 0
            margin-left: 15px
            a
                display: block 
        .fhone
            display: none
            left: 0
            width: 90%
            top: 70px
            font-size: 16px
            top: 84px
            margin-left: 15px
    .social_header
        display: none
    .top_header
        .flex_header
            .flex_box
                a
                    margin-top: 30px
                .window_h1
                    h1
                        font-size: 24px
                        letter-spacing: 1px
                        padding-top: 5px
                        margin-top: 0
                        padding-bottom: 10px
                        font-weight: 700
                       
                strong
                    font-size: 18px
                .header_p
                    font-size: 16px
                    line-height: 20px
                    letter-spacing: 1px
                    margin-top: 30px
    .header_contact
        text-align: left
        padding: 0
        white-space: nowrap
        margin: 0
        .fa
            color: #fff
            font-size: 16px
    #my-menu li
        font-size: 18px
        margin-top: 5px
    .mm-panel_has-navbar
        margin-top: 0
    .wrap_service 
        .wrap_services_img
            height: 220px
            b
                bottom: 80px
                left: 17%
    .p_serv
        p
            margin-bottom: 5px
            font-size: 16px
            margin-left: 0
    .our_people
        .people
            .people_wrap
                h2
                    letter-spacing: 1px
                    font-size: 22px
                    padding-top: 15px
    .section_h2
        h2
            letter-spacing: 1px
            font-size: 22px
            padding-top: 15px
        p
            margin-left: 15px
    .fotorama__nav-wrap
        position: relative
        bottom: 0
        width: 100%
        padding: 10px 0
    .futures_h3 
        padding: 5px 0
        margin-top: 0px
        font-size: 24px
    .our_futures
        .colns
            margin-top: 15px
    .big_number
        margin-bottom: 6px
        line-height: 45px
        font-size: 28px
    .call_form
        &::before
            width: 100%
            z-index: 10
        .form_header
            span
                font-size: 22px
    .main_form
        z-index: 89
        position: relative
    .s_partners
        .partner_h2
            h2
                font-size: 22px
                letter-spacing: 1px
    .s_partners
        .flex_box
            min-height: 220px
        .partners
            margin: 0
        .owl-nav
            left: 0
    .s_partners
        .carousel-partners-content
    footer
        .footer_li
            margin-left: 2%
            letter-spacing: 0.5px
            li
                font-size: 16px
                    



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

