@import "fonts"
@import "base"
@import "vars"
body
    font-size: 16px
    position: relative
    line-height: 1.75 
    overflow-x: hidden
    opacity: 1
    font-family: $default-font
    letter-spacing: 1px
    color: #fff
    margin: 0
    padding: 0
body
    a
        text-decoration: none
body a
    &:hover
       text-decoration: none
body ul
    list-style: none
    padding: 0
    margin: 0
h1,h2,h3,h4,h5,h6
    text-transform: uppercase
    line-height: 1.4
    font-family: 'Montserrat-rst'
    text-align: center
html.mm-wrapper_opened
    overflow-y: scroll

.top_header
    min-height: 700px
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    height: 100vh
    background-color: $grey_c
    position: relative
.top_line
    position: relative
    width: 100%
    padding: 40px
    z-index: 1
    .logo
        position: absolute
        width: 175px
        margin-left: 30px
        top: 30px
    .fhone
        position: absolute
        right: 100px
        top: 30px
        font-size: 22px
        color: #fff
        font-weight: 600
        white-space: nowrap
        .fa
            font-size: 22px
            margin-right: 15px
    .menu_top
        position: absolute
        right: 0 
        top: 22px
        .hamburger-inner,.hamburger-inner::after, .hamburger-inner::before
            background-color: $accent
            border-radius: 0
.mm-panel_has-navbar
    padding-top: 100px
.mm-panel
    .mm-navbar
        border-bottom: none
        .mm-navbar__title
            padding-bottom: 5px
            padding-top: 40px
            font-size: 20px
#my-menu
    background-color: $grey_c
    li
        font-size: 20px
        font-family: $default-font
.mm-listitem_selected
    color: $accent
    background-color: #dcdcdc
.mm-listitem
    border-bottom: none
    &::after
         border-bottom: none
.mm-listitem .mm-btn_next
    &::before
        border: none
.mm-listitem
    a
        padding-left: 10%
        background-color: $grey_c
        &:hover
            color: $accent
            background-color: #dcdcdc
            transition: color 1s
            transition: background-color 1s
            
        &::before
            content: '\f085'
            font: normal normal normal 14px/1 FontAwesome
            padding-right: 15px
.mm-btn_prev
    &:hover
        background-color: #dcdcdc
    
.myButton 
	-moz-box-shadow: inset 0px 1px 3px 0px #9fb4f2
	-webkit-box-shadow: inset 0px 1px 3px 0px #9fb4f2
	box-shadow: inset 0px 1px 3px 0px #9fb4f2
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #983222), color-stop(1, #983222))
	background: -moz-linear-gradient(top, #983222 5%, #983222 100%)
	background: -webkit-linear-gradient(top, #983222 5%, #983222 100%)
	background: -o-linear-gradient(top, #983222 5%, #983222 100%)
	background: -ms-linear-gradient(top, #983222 5%, #983222 100%)
	background: linear-gradient(to bottom, #983222 5%, #983222 100%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#983222', endColorstr='#983222',GradientType=0)
	background-color: #983222
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	border-radius: 5px 
	border: 1px solid #4e6096
	display: inline-block
	cursor: pointer
	color: #ffffff
	font-weight: bold
	padding: 11px 23px
	text-decoration: none
	text-shadow: 0px -1px 0px #283966
.myButton:hover 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d47666), color-stop(1, #531409))
	background: -moz-linear-gradient(top, #d47666 5%, #531409 100%)
	background: -webkit-linear-gradient(top, #d47666 5%, #531409 100%)
	background: -o-linear-gradient(top, #d47666 5%, #531409 100%);
	background: -ms-linear-gradient(top, #d47666 5%, #531409 100%)
	background: linear-gradient(to bottom, #d47666 5%, #531409 100%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d47666', endColorstr='#531409',GradientType=0)
	background-color: #983222
.myButton
    &:active 
        position: relative
        top: 1px
.flex_header
    display: flex
    height: 100%
    position: relative
    top: 0
    .flex_box
        margin: auto
        margin-top: 70px
        text-align: center
        a
            text-transform: uppercase
            letter-spacing: 2px
            font-family: 'Raleway-rst'
            &:hover
                text-decoration: none
                color: #fff
        p
            font-size: 18px
            font-family: "Raleway-rst", sans-serif
.flex_box
    .window_h1
        p
            display: flex
            align-items: center
            overflow: hidden
            text-align: center
            margin: 0
            width: 100%
            font-size: 14px
            text-transform: uppercase
            white-space: nowrap 
            &::before, &::after
                content: ''
                display: inline-block
                background-color: #fff
                height: 1px
                width: 100%
                position: relative
            span
                margin: 0 10px
        h1
            font-size: 50px
            font-weight: 100
            letter-spacing: 1.8px
            white-space: nowrap
            border-bottom: 1px solid #fff
            margin-top: 10px
            margin-bottom: 20px
        strong
            font-family: 'Raleway-rst'
            text-transform: uppercase
            font-size: 20px
            display: block
.social_header
    position: absolute
    display: flex
    top: 0
    right: 0
    height: 100%
    border-left: 1px solid rgba(#fff, .2)
    font-size: 20px
    color: #fff
    padding: 0 16px
.social
    margin: auto
    ul, li
        margin: 0
        padding: 0
        list-style:  none
    a
        font-size: 20px
        color: #fff
        background-color: rgba(#BFBFBE, .4)
        border-radius: 10em
        border: 1px solid rgba(#fff, .4)
        display: block
        height: 38px
        width: 38px
        text-align: center
        margin: 20px 0
        line-height: 38px
        transition: background-color .5s ease
        &:hover
            background-color: #B1B1B0
            transition: background-color .5s ease
.header_contact
    position: absolute
    bottom: 0
    left: 0
    background-color: rgba(#BFBFBE, .2)
    width: 100%
    text-align: center
    border-top: rgba(#fff, .2) 1px solid
    padding: 16px 0
    .fa
        margin-right: 5px
        font-size: 20px
        color: $grey_c
        font-weight: 400
        
.section_h2
    padding-top: 30px
    padding-bottom: 10px
    font-weight: 600
    color: #fff
    background-color: $shadow
.carousel-services
    position: relative
    .owl-nav
        position: absolute
        top: 0
        left: 0
        display: block
        font-size: 30px
        width: 100%
        .owl-prev
            display: inline-block
            float: left
            margin-left: 5px
        .owl-next
            display: inline-block
            float: right
            margin-right: 5px
    .carousel-services-item
        opacity: 0.8
        transition: opacity .8s ease
        border-radius: 10px
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        &:hover
            opacity: 1
            transition: opacity .8s ease
    .carousel-services-content
        background-color: $shadow
        position: relative
        color: #fff
        text-align: center
        padding: 20px 0
        img
            width: 40%
            margin: auto
        h3
            margin-top: 20px
            font-weight: bold
        ul
            li
                padding: 15px 0
                border-bottom: 1px solid rgba(#000, .4)
                display: block
                width: 76%
                margin: auto
                font-size: 20px
        a
            text-transform: uppercase
            letter-spacing: 2px
            font-family: 'Raleway-rst'
            margin-top: 30px
            color: $accent
            font-weight: 400
            &:hover
                text-decoration: none
                color: #781202
            
        
.myButton-white 
	-moz-box-shadow: inset 0px 1px 3px 0px #bababa
	-webkit-box-shadow: inset 0px 1px 3px 0px #bababa
	box-shadow: inset 0px 1px 3px 0px #bababa
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f2ea), color-stop(1, #fafafa))
	background: -moz-linear-gradient(top, #f2f2ea 5%, #fafafa 100%)
	background: -webkit-linear-gradient(top, #f2f2ea 5%, #fafafa 100%)
	background: -o-linear-gradient(top, #f2f2ea 5%, #fafafa 100%)
	background: -ms-linear-gradient(top, #f2f2ea 5%, #fafafa 100%)
	background: linear-gradient(to bottom, #f2f2ea 5%, #fafafa 100%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2ea', endColorstr='#fafafa',GradientType=0)
	background-color: #f2f2ea
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	border-radius: 5px
	border: 1px solid #f7f7f7
	display: inline-block
	cursor: pointer
	color: #bfbfbe
	padding: 11px 23px
	text-decoration: none
	text-shadow: 0px -1px 0px #fafafa
.myButton-white
    &:hover 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #f2f2ea))
        background: -moz-linear-gradient(top, #fafafa 5%, #f2f2ea 100%)
        background: -webkit-linear-gradient(top, #fafafa 5%, #f2f2ea 100%)
        background: -o-linear-gradient(top, #fafafa 5%, #f2f2ea 100%)
        background: -ms-linear-gradient(top, #fafafa 5%, #f2f2ea 100%)
        background: linear-gradient(to bottom, #fafafa 5%, #f2f2ea 100%)
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f2f2ea',GradientType=0)
        background-color: #fafafa
.myButton-white
    &:active 
        position: relative
        top: 1px
.our_people
    position: relative
    .people
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        padding-top: 30px
        .people_wrap
            margin: 0 5%
            margin-top: -30px
            h2
                color: $accent
                letter-spacing: 3px
                font-weight: 600
            p
                font-size: 18px
        .people-foto
            margin: 0 5%
        &::before
            position: absolute
            content: ''
            left: 0
            top: 0
            width: 100%
            height: 100%
            background-color: $shadow
.fotorama__nav-wrap
    position: absolute
    bottom: 15px
    width: 100%
    padding: 0 10px
.fotorama__thumb
    border: 4px solid #fff
.fotorama__img
    cursor: pointer
.fotorama__thumb-border
    border-color: $accent

   
            
            
    
@import "media" // Всегда в конце
